RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT="5672"

RABBITMQ_USERNAME="<your_rabbitmq_username>"
RABBITMQ_PASSWORD="<your_rabbitmq_password>"

EXCHANGE_NAME="sentinel_events"

INCIDENT_ROUTING_KEY="infra.pod.crash"

INCIDENT_QUEUE="incident_queue"
